$setActive: #F05848;
$darkRed: #51302D;
$vineRed: #933941;
$bronse: #FE6C61;
$appBackground: #fafafa;
:root {
    --appBackground: #{$appBackground};
    --setActive: #{$setActive};
    --darkRed: #{$darkRed};
    --vineRed: #{$vineRed};
    --bronse: #{$bronse};
}